<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>实验室安全教育</title>
    <meta name="description" content="实验室安全教育">
    <meta name="keywords" content="实验室安全教育">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/axios-0.18.0.js"></script>
    <style type="text/css">
        .el-main {
            position: absolute;
            top: 70px;
            bottom: 0px;
            left: 200px;
            right: 10px;
            padding: 0;
        }
    </style>
</head>

<body class="hold-transition skin-purple sidebar-mini">
    <div id="app">
        <el-container>
            <el-header class="main-header" style="height:70px;">
                <nav class="navbar navbar-static-top" :class=''>
                    <!-- Logo -->
                    <a href="#" class="logo" style="text-align:center">
                        <span class="logo-lg"><img src="../img/logo.png"></span>
                    </a>
                    <div class="right-menu">
                        <span class="help"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>帮助</span>
                        <el-dropdown class="avatar-container right-menu-item" trigger="click">
                            <div class="avatar-wrapper">
                                <img src="../img/user2-160x160.jpg" class="user-avatar">
                                {{username}}
                            </div>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item divided>
                                    <span style="display:block;">
                                        <a @click="logout">退出</a>
                                    </span>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </nav>
            </el-header>
            <el-container>
                <el-aside width="200px">
                    <el-menu unique-opened>
                        <el-submenu v-for="menu in menuList" :index="menu.path">
                            <template slot="title">
                                <i class="fa" :class="menu.icon"></i>
                                {{menu.title}}
                            </template>
                            <template v-for="child in menu.children">
                                <el-menu-item :index="child.path">
                                    <a :href="child.linkUrl" target="right">{{child.title}}</a>
                                </el-menu-item>
                            </template>
                        </el-submenu>
                    </el-menu>
                </el-aside>
                <el-container>
                    <iframe name="right" class="el-main" src="/pages/dashboard.html" width="100%" height="580px"
                        frameborder="0"></iframe>
                </el-container>
            </el-container>
        </el-container>
    </div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            username: null,
            menuList: [
                {
                    "path": "1",
                    "title": "控制台",
                    "icon": "el-icon-menu",
                    "children": [
                        {
                            "path": "/1-1",
                            "title": "主页",
                            "linkUrl": "/pages/dashboard.html",
                            "children": []
                        }
                    ]
                },
                {
                    "path": "2",
                    "title": "用户管理",
                    "icon": "fa-user-md",
                    "children": [
                        {
                            "path": "/2-1",
                            "title": "学生列表",
                            "linkUrl": "/pages/student.html",
                            "children": []
                        },
                        {
                            "path": "/2-2",
                            "title": "管理员列表",
                            "linkUrl": "/pages/admin.html",
                            "children": []
                        },
                    ]
                },
                {
                    "path": "3",
                    "title": "题库管理",
                    "icon": "el-icon-edit-outline",
                    "children": [
                        {
                            "path": "/3-1",
                            "title": "单选题列表",
                            "linkUrl": "/pages/singleChoiceQuestion.html",
                            "children": []
                        },
                        {
                            "path": "/3-2",
                            "title": "多选题列表",
                            "linkUrl": "/pages/multipleChoiceQuestion.html",
                            "children": []
                        },
                        {
                            "path": "/3-3",
                            "title": "判断题列表",
                            "linkUrl": "/pages/judgmentQuestion.html",
                            "children": []
                        },
                        {
                            "path": "/3-4",
                            "title": "题目上传",
                            "linkUrl": "/pages/questionUpload.html",
                            "children": []
                        },
                    ]
                },
                {
                    "path": "4",
                    "title": "试卷管理",
                    "icon": "el-icon-tickets",
                    "children": [
                        {
                            "path": "/4-1",
                            "title": "试卷列表",
                            "linkUrl": "/pages/examPaper.html",
                            "children": []
                        },
                    ]
                },
                {
                    "path": "5",
                    "title": "答卷管理",
                    "icon": "el-icon-document",
                    "children": [
                        {
                            "path": "/5-1",
                            "title": "答卷列表",
                            "linkUrl": "/pages/completeList.html",
                            "children": []
                        },
                    ]
                },
            ]
        },
        methods: {
            logout() {
                var that = this;
                axios.post("/admin/logout").then((res) => {
                    if (res.data.flag) {
                        window.location.href = "/login.html";
                    }
                });
            }
        },
        created() {
            var that = this;
            axios.get("/admin/getName").then((response) => {
                that.username = response.data.data;
            })
        }
    });
    $(function () {
        var wd = 200;
        $(".el-main").css('width', $('body').width() - wd + 'px');
    });
</script>

</html>